<h1>Authorities</h1>
<table>
  <thead>
    <tr>
      <td>First Name</td>
      <td>Middle Initial</td>
      <td>Last Name</td>
      <td>Email</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    {% for authority in object_list %}
    <tr>
      <td>{{ authority.first_name }}</td>
      <td>{{ authority.initial }}</td>
      <td>{{ authority.last_name }}</td>
      <td>{{ authority.email }}</td>
      <td>
        <a href="{% url "authority_edit" authority.id %}">Edit</a>
        <a href="{% url "authority_delete" authority.id %}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  <tbody>
</table>

<a href="{% url "authority_new" %}">New</a>
